%html
  = render '_head'
  %body
    = render '_header'
    #wrapper
      %section#content
        - render '_article' do
          = @item.compiled_content(:rep => :partial)
        = render '_comments'
      = render '_footer'